html *
{
    font-family: Calibri;
}

body {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 25%;
    margin-left: 25%;
}

h1{
    text-align: center;
    font-size: 36px;
}

p, li{
    font-size: 16px;
}

#participantIDform{
    text-align: center;
}

input{
    height: 30px;
    text-align: center;
}

button{
    font-size: 20px;
}

#buttonPrompt{
    text-align: center;
}

.answerBox{
    width: 100%;
    height: 100px;
    text-align: left;
}

#endMessage{
    text-align: center;
}

.nasatlx{
    width: 80%;
}

.grid{
    display: grid;
    grid-template-columns: 85% 10% 5%;
    align-items:center;
}

.thickLine{
    height:5px;
    border:none;
    color:#333;
    background-color:#333;
}

.dottedLine{
    border-top:1px dotted;
    color: gray;
}